@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(45deg, #8d2f35, #2e38b9);
}

.back{
    font-family: 'Grechen Fuemen', cursive;
    font-size: 1.5rem;
    border: 2px solid #313131;
    background-color: transparent;
    color: #313131;
    padding: 5px 30px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
}

/* .back:hover{
}

.back{
    position: relative;
}



.back::after{
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background-color: #313131;
    top: 4px;
    left: -6px;
}

.back::before{
    content: "";
    display: block;
    margin-right: 10px;
    width: 8px;
    height: 8px;
    border-top: 2px solid #313131;
    border-right: 2px solid #313131;
    transform: rotate(45deg);
} */