@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(45deg, #8d2f35, #2e38b9);
}

.back{
    font-size: 1.5rem;
    color: #313131;
    cursor: pointer;
    padding: 12px;
    background: rgba(64, 2, 250, 0.4);
  }

.text{
    padding: 20px;
}
